$bg: #151515;
$bgSecondary: #2a2a2a;
$cta: #38E1F4;
$cta-fade: #1D3043;
$textSecondary: #B4B1B1;

//? FONT SIZES
$xl8: 4rem;
$xl7: 3rem;
$xl6: 2.7rem;
$xl5: 2.25rem;
$xl4: 2rem;
$xl3: 1.875rem;
$xl2: 1.5rem;
$xl: 1.25rem;
$lg: 1.125rem;
$base: 1rem;
$sm: 0.875rem;
$xs: 0.75rem;

//? FONT WEIGHT
$black: 900;
$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;
$thin: 200;

//? FONTS
$primary: Unbounded;
$secondary: Poppins