$bg: #151515;
$cta: #38E1F4;
$cta-fade: #1D3043;

//? FONT SIZES
$xl3: 1.875rem;
$xl2: 1.5rem;
$xl: 1.25rem;
$lg: 1.125rem;
$base: 1rem;
$sm: 0.875rem;
$xs: 0.75rem;

//? FONT WEIGHT
$black: 900;
$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;
$thin: 200;

//? FONTS
$primary: Unbounded;
$secondary: Poppins