
@import '../CSS/variables';
.cg__nav{
  width: 100%;
  padding: 30px 0;
  background-color: #151515;
  font-family: $primary;
  color: white;
  &__container{
    width: 90%;
    max-width: 1500px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: $xl2;
    font-weight: $medium
  }
  &__links{
    display: flex;
    align-items:center;
    list-style-type: none;
  }
  &__link{
    margin: 0 15px;
    font-family: $medium;
    cursor: pointer;
    transition: all ease-in-out 0.16s;

    &:hover{
      color: $cta;
    }
    
    & h1{
      font-size: $sm;
      font-family: $thin
    }
  }

  &__btn{
    padding:  0.6rem 1.9rem;
    font-weight: $normal;
    color: $cta;
    background-color: $cta-fade;
    font-family: $primary;
    border: solid 1.8px;
    border-radius: 5px;
    border-color: $cta;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    &:hover{
      background-color: $cta;
      color: black;
    }
  }
  @media (max-width: 700px){
    &__links{
      display: none;
    }
    &__btn{
      font-size: $xs;
      padding: 10px 20px;
    }
  }
}